/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

body {
  background-image: url(img/gettyimages-941127584-612x612.jpg);
  background-size: cover;
  color: #fff;
}

input,
select,
button {
  font-family: "Roboto", sans-serif;
}
.boite_horizontale {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
  border-radius: 10px;
}

#bouton {
  border-radius: 100px;
  font-weight: bold;
  border-color: #ffca4b;
  background-color: #ffca4b;
  font-size: 16px;
  margin-bottom: 3%;
  padding-bottom: 2%;
  margin-top: 2%;
}

#bouton:hover {
  background-color: #fff;
}
